<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container">
    <button class="navbar-toggler ms-auto my-3" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ms-auto me-auto p-3">
        <li class="nav-item mx-4">
          <a class="nav-link" href="#" (click)="onToggle()">Home</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#about" (click)="onToggle()">About</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#experience" (click)="onToggle()">Experience</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#skills" (click)="onToggle()">Skills</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#projects" (click)="onToggle()">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="section-hero mt-5">
  <div class="container">
    <div class="d-md-flex flex-md-row-reverse justify-content-around align-items-center">
      <img class="img-fluid img-thumbnail profile-img" src="assets/images/profile.jpeg" alt="">
      <div class="hero-text">
        <h3 class="light-text">Hello, I'm </h3>
        <h1>Pavan Kumar Reddy</h1>
        <h5>Web Developer</h5>
        <div class="get-in-touch" (click)="openSocialLink('mail')">Get In Touch</div>

        <h6 class="social-links-test">You can also check out my social links to get in touch that way</h6>
        <div class="social-links">
          <span>
            <fa-icon [icon]="faLinkedin" (click)="openSocialLink('linkedin')"></fa-icon>
          </span>
          <span>
            <fa-icon [icon]="faFacebook" (click)="openSocialLink('facebook')"></fa-icon>
          </span>
          <span>
            <fa-icon [icon]="faTwitter" (click)="openSocialLink('twitter')"></fa-icon>
          </span>
          <span>
            <fa-icon [icon]="faInstagram" (click)="openSocialLink('instagram')"></fa-icon>            
          </span>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="about" class="section-about">
  <div class="container">
    <h2>About Me</h2>
    <p>
      My name is <span class="strong-text">Pavan Kumar Reddy</span>, I’m a Web Developer currently working at Madhu
      Infotech India Pvt Ltd, Bengaluru.
      I've spent the last 1.5+ years as a professional web developer where I specialize in transforming beautiful
      designs into full-fledged interactive web applications.
    </p><br>
    <p>
      My job involves doing what I love, developing new websites and applications. I absolutely love learning new
      things and taking on new challenges. A more detailed look at my professional capabilities and experience are as
      below.
    </p>

    <div class="about-me-blocks row">
      <div class="card col-12 col-sm-6 col-md-3">
        <fa-icon [icon]="faLaptop" class="about-section-icons fs-1"></fa-icon>
        <h5>Frontend development</h5>
      </div>
      <div class="card col-12 col-sm-6 col-md-3">
        <fa-icon [icon]="faServer" class="about-section-icons fs-1"></fa-icon>
        <h5>Backend development</h5>
      </div>
      <div class="card col-12 col-sm-6 col-md-3">
        <fa-icon [icon]="faMobileAlt" class="about-section-icons fs-1"></fa-icon>
        <h5>Mobile development</h5>
      </div>
      <div class="card col-12 col-sm-6 col-md-3">
        <fa-icon [icon]="faCodeBranch" class="about-section-icons fs-1"></fa-icon>
        <h5>Version Control</h5>
      </div>
    </div>
  </div>

</section>

<section id="experience" class="section-experience">
  <div class="container">
    <h2>Working Experience</h2>
    <div class="timeline">
      <div class="row timeline-object">
        <div class="col-12 col-sm-3">
          <h5>May, 2022 &mdash; present</h5>
        </div>
        <div class="col-12 col-sm-9">
          <h5>Software Developer</h5>
          <h5>Aujas Cybersecurity,</h5>
          <h5>Bengaluru, India</h5>
        </div>
      </div>
      <div class="row timeline-object">
        <div class="col-12 col-sm-3">
          <h5>March, 2020 &mdash; April, 2022</h5>
        </div>
        <div class="col-12 col-sm-9">
          <h5>Software Developer</h5>
          <h5>Madhu Infotech India Pvt Ltd,</h5>
          <h5>Bengaluru, India</h5>
        </div>
      </div>
      <div class="row timeline-object">
        <div class="col-12 col-sm-3">
          <h5>Jan, 2020 &mdash; March, 2020</h5>
        </div>
        <div class="col-12 col-sm-9">
          <h5>Trainee Software Engineer</h5>
          <h5>Infotech Global Inc,</h5>
          <h5>Bengaluru, India</h5>
        </div>
      </div>
      <div class="row timeline-object">
        <div class="col-12 col-sm-3">
          <h5>Dec, 2018 &mdash; Feb, 2019</h5>
        </div>
        <div class="col-12 col-sm-9">
          <h5>Software Developer Trainee</h5>
          <h5>Soft Suave Technologies,</h5>
          <h5>Chennai, India</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="section-skills">
  <div class="container">
    <h2>Skills</h2>
    <p>Here are some of my skills in which I am good to work and comfortable.</p>
    <div class="d-flex flex-wrap py-5 justify-content-around" style="column-gap: 1rem; row-gap: 1rem; flex-wrap: wrap;">
      <div class="card px-2">
        <h4 class="p-2">HTML</h4>
        <img src="assets/images/html.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">CSS</h4>
        <img src="assets/images/css.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2" style="font-size: 1.3rem;">JavaScript</h4>
        <img src="assets/images/javascript.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">Python</h4>
        <img src="assets/images/python.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">Angular</h4>
        <img src="assets/images/angular.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">Ionic</h4>
        <img src="assets/images/ionic.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">Django</h4>
        <img src="assets/images/django.png">
      </div>
      <div class="card px-2">
        <h4 class="p-2">GIT</h4>
        <img src="assets/images/github.png">
      </div>

    </div>
  </div>
</section>

<section id="projects" class="section-projects">
  <div class="container">
    <h2 class="text-dark">Projects</h2>
    <div class="row justify-content-around gap-5">
      <div class="col-md-6 col-lg-4">
        <div class="card bg-dark text-light h-100">
          <div class="card-body text-center">
            <h4 class="card-title my-3 pb-0">Clinx</h4>
            <p class="card-text my-3 p-2">A Business to Business E-Commerce Platform with Site Builder which connects
              resellers
              and wholesalers across India. With the first ever B2B chat platform Clinx enables users to never be out of
              touch with your seller or buyer while sending Quotes and Purchase Order on the go.</p>
            <a href="https://clinx.in/" target="_blank" class="btn btn-primary px-2 mb-3 w-25">View</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card bg-dark text-light h-100">
          <div class="card-body text-center">
            <h4 class="card-title my-3 pb-0">Clinx Mobile</h4>
            <p class="card-text my-3 p-2">Hybrid Mobile application for Clinx(https://clinx.in) Platform built with
              Ionic 4,
              Angular 8.</p>
            <a href="https://play.google.com/store/apps/details?id=in.optibiz.clinx" target="_blank"
              class="btn btn-primary px-2 mb-3 w-25">View</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card bg-dark text-light h-100">
          <div class="card-body text-center">
            <h4 class="card-title my-3 pb-0">Clinx Websites</h4>
            <p class="card-text my-3 p-2">Clinx Sites is a website builder which allows users to build and deploy
              website on
              the go. Users can choose a stunning template and customize anything with the Clinx Sites builder - no
              coding
              skills needed.
              Connecting with Clinx platform users can convert their website to an ecommerce platform.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light text-center">
  <div class="social-links pt-4">
    <span>
      <fa-icon [icon]="faLinkedin" (click)="openSocialLink('linkedin')"></fa-icon>
    </span>
    <span>
      <fa-icon [icon]="faFacebook" (click)="openSocialLink('facebook')"></fa-icon>
    </span>
    <span>
      <fa-icon [icon]="faTwitter" (click)="openSocialLink('twitter')"></fa-icon>
    </span>
    <span>
      <fa-icon [icon]="faInstagram" (click)="openSocialLink('instagram')"></fa-icon>
    </span>
  </div>
  <div class="footer-copyright text-center py-3">Copyright &copy; 2021 All rights reserved | This portfolio is made with
    &#9829; by Pavan Kumar Reddy </div>
</footer>
<!-- Footer -->